<!DOCTYPE html>
<html lang="en">
<head>
  @await Html.PartialAsync("_Metas")
  <title>@ViewData["Title"] - DashBS</title>
  @await Html.PartialAsync("_Styles")
  @await RenderSectionAsync("Styles", required: false) <!-- For page level styles -->
</head>
<body>

  <!-- Sidebar -->
  @await Html.PartialAsync("_Sidebar")

  <div class="flex-grow-1">
    <!-- Navbar -->
    @await Html.PartialAsync("_Navbar")
    <main class="p-4">
      @RenderBody()
    </main>
    @await Html.PartialAsync("_Footer")    
  </div>

  @await Html.PartialAsync("_Scripts")
  @await RenderSectionAsync("Scripts", required: false) <!-- For page level scripts -->
</body>
</html>
